<h1> <%= @questionnaire.name %> </h1>
<h3> <%= @questionnaire.description %> </h3>
<%= form_with url: results_questionnaire_path(@questionnaire.id), method: :post do |form| %>
  <ul>
    <% @questionnaire.questions.each do |question| %>
      <li> <%= question.text %>
        <ul>
          <% question.answers.each do |answer| %>
            <li>
              <%= check_box_tag(answer.id, checked_value = true, unchecked_value = false) %>
              <%= label_tag(answer.id, answer.text) %>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
  <%= form.submit "Submit answers" %>
<% end %>
